*{
  margin: 0;
  padding: 0;
}

h2{
  text-align: center;
  margin: 15px 0;
}
.create-task {
  margin: 0 30px;
  border: 1px solid black;
  border-radius: 5px;
}

input {
  width: 300px;
  height: 20px;
  margin: 10px 5px;
}

.create-task button {
  margin:0 5px 10px 5px;
}

.primary {
background-color: blue;
}

.success {
background-color: green;
}

.danger {
  background-color: red;
}

.text-light {
  color: white;
  border: none;
}

.btn-style {
  padding: 5px 10px;
  border-radius: 5px;
}

.margin {
  margin: 15px 30px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.name {
  width: 200px;
}

.description {
  width: 300px;
}

.status {
  width: 60px;
}

.task {
  overflow-x: auto;
}

th, td {
  padding: 5px 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  margin: 0 5px;
}

.tick {
  width: 20px;
}